.THIS .gray-background {
    position: fixed;
    background-color: rgba(255,255,255, 0.8); 
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
}

.THIS .eccl-loading-logo {
    height: 128px;
    width: 128px;
    vertical-align: center;
    margin-top: 44vh;
}

.THIS .hide-div {
    display: none !important;
}