<apex:component id="AdTruthContent">

<apex:outputText id="AdTruthContentOUTX">

<image url="/FraudAndIdentity/servlet/servlet.ImageServer?id=015e0000000Moob&oid=00De0000005W137"/>
<a name="skiplink"><img src="/s.gif" height='1' width='1' alt="Content Starts Here" class="skiplink skipLinkTargetInner zen-skipLinkTarget" title="Content Starts Here"/></a>
    <div>
        <br/><span style="color: #3C80BB;"><span style="font-size: 16px;"><b><span style="font-size: 18px;">Welcome to the Unified AdTruth Support Community!</span></b></span></span><br/><br/><span style="color: #474c55;">From here you can access your AdTruth Documentation, Software and all of your additional files needed for Deployment.  In addition, we have a Cases module which allows you to submit and access your open issues.  </span><br/> 
<table border="1" cellpadding="1" cellspacing="1"><tbody><tr><td colspan="1" rowspan="1"><span style="color: #3C80BB;"><span style="font-size: 14px;"><b>Updates and Announcements</b></span></span>
            <ul><li><span style="font-size: 14px;color: #3C80BB;"><b>00:00 GMT, 10th of August:</b>DeviceInsight 6.1.1 is now available for all Partners! Please reach out to your Partner Development Manager for details or send an email to </span>
            <a href="mailto:help@adtruth.com?subject=Request%20for%20DeviceInsight%206.0&amp;body=Please%20reach%20out%20to%20me%20regarding%20the%20latest%20version%20of%20DeviceInsight.%0A%0AThank%20you!"><span style="color: #3C80BB;">help@adtruth.com</span></a></li></ul>
            </td></tr>
       </tbody>
</table>
<br/><br/><span style="color: #3C80BB;"><b>Quick Guide</b></span>

<ul><li><b><span style="color: #474c55;">Delivery Contents:</span></b><span style="color: #474c55;"> Go here to access any packages, support files, and links to your product specific.</span></li></ul>
<span style="color: #3C80BB;"><b>Tickets</b></span><span style="color: #006400;"><b>:</b></span><font color="#474c55"> Go here to submit and track any issues regarding your AdTruth Products and Services.</font>

<ul><li><span style="color: rgb(71, 76, 85);">Below are standard response times based on Priority specified</span><br/>   
    <table border="1" cellpadding="1" cellspacing="1" style="width: 500px;"><thead><tr><th colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b><span style="font-family: arial;"> Priority</span></b></span></th><th colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b><span style="font-family: arial;"> Time to Respond</span></b></span></th></tr></thead><tbody><tr><th colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b><span style="font-family: arial;"> High</span></b></span></th><td colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b> 2 Business Hours</b></span></td></tr><tr><th colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b><span style="font-family: arial;"> Medium</span></b></span></th><td colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b> 16 Business Hours</b></span></td></tr><tr><th colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b><span style="font-family: arial;"> Low</span></b></span></th><td colspan="1" rowspan="1"><span style="color: #8D8D8D;"><b> 32 Business Hours</b></span></td></tr></tbody></table>
    </li></ul>

<ul><li><span style="color: rgb(71, 76, 85);">For Urgent Business Critical Issues, Contact your Lead Partner Manager and Technical Contact directly.</span></li></ul>

<div style="margin-left: 40px;"> </div>
<span style="color: #3C80BB;"><b>Upcoming Community Features</b></span>

<ul><li><span style="color: #474c55;">Knowledge Base and FAQ&#39;s</span></li><li><span style="color: #474c55;">Feature Requests and Ideas</span></li><li><span style="color: #474c55;">Community Forum to reach out to other AdTruth Users to discuss terms and Universal access</span></li></ul>
    </div>
</apex:outputText>
</apex:component>