<!-- 
Component -   expcommunity_FAQ_cmpt
Author -      Hay Mun Win
Description - FAQ component used on FAQ page-->

<apex:component controller="expcommunity_FAQ_ctrl">

     <apex:attribute name="application" description="application" type="String" assignTo="{!appName}"/>
     
     <apex:outputPanel id="searchRows" rendered="{!searchFAQ}" styleClass="right-wrapper__child table--display slds-p-vertical--xx-large expcommunity__grey">
         <div class="expcommunity__container">
              <apex:repeat value="{!catName}" var="catKey">
                <apex:outputText value="{!catKey}" styleClass="expcommunity__faqCat capitalize"/> <br/>
                <apex:repeat value="{!catMap[catKey]}" var="questions">
                    <div class="faq_group slds-size--1-of-1 slds-m-vertical--large">
                    <div class="expcommunity__faqHeadline slds-size--1-of-1 slds-m-vertical--large slds-p-horizontal--small"><span class="expcommunity__collapse--icon"></span>Q. {!questions.Headline__c}</div>
                    <apex:outputText value="{!questions.Detail__c}" escape="false" styleClass="expcommunity__faqDetail slds-size--1-of-1 slds-hide"/>
                    <!--<p class="expcommunity__faqDetail slds-size--1-of-1 slds-hide">{!questions.Detail__c}</p>-->
                    </div>
                </apex:repeat>
            </apex:repeat>
        </div>
   </apex:outputPanel>
   
</apex:component>