<!-- 
Component -  expcommunity_twoCol_cmpt
Author -      Hay Mun Win
Description - two columns component with image on left and text on right-->

<apex:component >

  <apex:attribute name="img_alt" description="Image Alt tag" type="String"/>
  <apex:attribute name="img_src" description="Image source" type="String"/>
  <apex:attribute name="title" description="Title of the widget" type="String"/>
  <apex:attribute name="text_body" description="body of the text" type="String"/>
  <apex:attribute name="button_label" description="label of the button" type="String"/>
  <apex:attribute name="button_src" description="source of the button" type="String"/>
  
  <div class="right-wrapper__child table--display slds-p-vertical--xx-large expcommunity__grey">
      <div class="section-row__wrapper cell--display">
            <div class="expcommunity__container">
                
                    <div class="slds-size--5-of-12 slds-small-size--1-of-1 slds-medium-size--1-of-1  slds-large-size--5-of-12 slds-float--left slds-p-left--xx-large slds-m-bottom--large expcommunity__col_img">
                        <div class="expcommunity__img"><img alt="{!img_alt}" src="{!img_src}"/></div>
                    </div>
                    <div class="slds-size--7-of-12 slds-small-size--1-of-1 slds-medium-size--1-of-1  slds-large-size--7-of-12 slds-float--left slds-p-left--xx-large expcommunity__col_text">
                        <h2 class="expcommunity__col_title capitalize">{!title}</h2>
                        <!--<p class="expcommunity__col_body ">{!text_body}</p>-->
                        <apex:outputText styleClass="expcommunity__col_body" escape="false" value="{!text_body}"/>
                        
                            <apex:outputLink rendered="{!If(button_src != null, true, false)}" value="{!button_src}" styleClass="expcommunity__btn capitalize slds-p-horizontal--medium">{!button_label}</apex:outputLink>
                            
                    </div>
                
            </div>
        </div>
  </div>
  
  
                    
</apex:component>