<!-- 
Component -  expcommunity_quote_cmpt
Author -      Hay Mun Win
Description - component with quotes queried from employee community news-->

<apex:component controller="expcommunity_quote_ctrl">
<apex:attribute name="application" description="application" type="String" assignTo="{!appName}"/>


   <apex:outputPanel id="SearchRows" rendered="{!Quote}">
  <div id="expcommunity__quote" class="expcommunity__quote-section slds-size--1-of-1 slds-clearfix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
        <div class="section-row__wrapper">
            <div class= "expcommunity__quote__left right-wrapper__child slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 slds-float--left">
                <div class="expcommunity__quote-left__wrapper">
                
                    <div class="expcommunity__quote-left__title expcommunity__quote--headline slds-m-bottom--large capitalize">{!featured[0].Headline__c}</div>
                    <!--<div class="expcommunity__quote--detail"><i>{!featured[0].Detail__c}</i><br/></div>-->
                    <div class="expcommunity__quote--detail"><apex:outputText value="{!featured[0].Detail__c}" escape="false"/><br/></div>
                    <div class="expcommunity__quote-author slds-m-top--medium">
                       {!featured[0].Author__c}                        
                    </div>
                </div>
            </div>
            <div class= "expcommunity__quote__right slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 slds-float--left">
                <div id="expcommunity__quote1" class="expcommunity__quote__sub expcommunity__quote__sub--shady  slds-clearfix">
                <apex:outputPanel layout="block" rendered="{!If(articleNum>0, true, false)}" >
                    <div class="expcommunity__quote-sub__wrapper">
                        <div class="expcommunity__quote__text slds-size--3-of-4">
                            <div class="expcommunity__quote-sub__title capitalize">{!quotes[0].Headline__c}</div>
                            <!--<div class="expcommunity__quote--detail">{!quotes[0].Detail__c}</div>-->
                            <div class="expcommunity__quote--detail"><apex:outputText value="{!quotes[0].Detail__c}" escape="false"/></div>
                            <div class="expcommunity__quote-author slds-m-top--medium">
                                {!quotes[0].Author__c}
                            </div>                            
                        </div>
                        
                    
                    </div>
                    </apex:outputPanel>
                </div>
                
                <div id="expcommunity__quote2" class="expcommunity__quote__sub">
                    <apex:outputPanel styleClass="expcommunity__bgwhite" layout="block" rendered="{!If(articleNum>1, true, false)}" >
                    <div class="expcommunity__quote-sub__wrapper">
                        <div class="expcommunity__quote__text slds-size--3-of-4">
                            <div class="expcommunity__quote-sub__title capitalize">{!quotes[1].Headline__c}</div>
                            <!--<div class="expcommunity__quote--detail">{!quotes[1].Detail__c}</div>-->
                            <div class="expcommunity__quote--detail"><apex:outputText value="{!quotes[1].Detail__c}" escape="false"/></div>
                            <div class="expcommunity__quote-author slds-m-top--medium">
                                {!quotes[1].Author__c}
                            </div>
                        
                        </div>
                    </div>
                    </apex:outputPanel>
                </div>
                
            </div>
        </div>
    </div>
    </apex:outputPanel>
</apex:component>