<!-- 
Component -   expcommunity_chatter_cmpt
Author -      Hay Mun Win
Description - chatter component on employee communityhome page-->

<apex:component >

  
<!--   <chatter:feedWithFollowers entityId="{!userID}"/>-->

<div id="expchatter_wrapper" class="expchatter_wrapper slds-size--1-of-1 slds-clearfix slds-p-around--large slds-m-around--small">
    <div class="expchatter_btns slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
        <a class="expchatter_chatter_btn slds-p-around--medium slds-p-horizontal--large slds-float--left slds-m-right--small active" href="javascript:;">Chatter<span class="expchatter_arrow"></span></a>
        <a class="expchatter_thanks_btn slds-p-around--medium slds-p-horizontal--large slds-float--left slds-m-right--small" href="javascript:;">Recognition<span class="expchatter_arrow"></span></a>
    </div>
    <div id="expchatter_content" class="expchatter_content slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 slds-p-around--medium slds-p-top--large">
        <div id="expchatter_newsfeed" class="expchatter_newsfeed">
         <apex:form styleClass="expchatter_form">
        <apex:commandLink action="{!refresh}" value="" reRender="reLoad" styleClass="slds-float--right expsubchatter_refresh slds-p-horizontal--small slds-p-vertical--small slds-m-right--medium">
            <span class="slds-icon_container slds-icon-utility-user transparent-block" title="Refresh">
              <svg aria-hidden="true" class="slds-icon slds-icon--small white-block__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1486208357000/SLDS203/assets/icons/utility-sprite/svg/symbols.svg#rotate"></use>
              </svg>
              <span class="slds-assistive-text">Refresh</span>
            </span>
        </apex:commandLink>
        </apex:form>
            <div class="expchatter_inside"><apex:outputPanel id="reLoad"><chatter:newsfeed /></apex:outputPanel></div>
            <div class="slds-m-top--large slds-align--absolute-center"> 
            
                <a class="slds-text-link--reset expchatter_more" href="/apex/expcomm_fullchatter" onclick="ga('send', 'event', 'Homepage', 'click', 'More on Chatter')"> 
                   
                    <div aria-live="assertive" class="slds-p-around--medium">More on Chatter &gt;</div>
                    
                    
                    
                </a>
            </div>
        </div>
        <div class="expchatter_thanks slds-hide">
                <c:expcomm_ManyThanks_cmpt />
        </div>
    </div>

</div>

</apex:component>