.THIS {
}

.THIS.container {
    max-width:800px;
    margin:0 auto;
}

.THIS .field_label{
    /*color:#696969;*/
    color:#b12b7e;
}

.THIS .submit_btn{
    background-color:#b12b7e;
    color: #ffffff;
}