.THIS .esign-document-select-modal {
	width: 100% !important;
    max-width: 80% !important;
}

.THIS .esign-document-title {
    padding-left: 5px !important;
}

.THIS .esign-doc-search-icon {
    float: right !important;
    margin-top: -27px !important;
}

.THIS .esign-inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.THIS .esign-tab-selected-link {
	color: #0070d2 !important;
}