<!--
/**=====================================================================
 * Name: AccountPlanAttachmentsTab
 * Description: This is the Account Plan Attachments VF page.
 *              It is referenced from the AccountPlanTabPanel VF page.
 * Created Date: April 5th, 2016
 * Created By: James Wills
 * 
 * =====================================================================*/
-->
<apex:page StandardController="Account_Plan__c">
   <apex:relatedList list="CombinedAttachments"/>
</apex:page>