<!-- Author - Richard Jospeh
Created Date - April 2016
Description - Community Page Contact Support Page  -->
<apex:page Sidebar="fasle" tabStyle="EDQ_Info__tab">

    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"/>
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>   

    <Style>
  .customheader {
    background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
   }
.bPageHeader{
    background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    opacity: 0.9;
}
.hrStyleContactTopClass{
box-sizing: content-box; 
height: 0px; 
margin-top: 20px; 
margin-bottom: 20px; 
border-width: 1px 0px 0px; 
border-top-style: solid; 
border-top-color: rgb(217, 217, 217); color: rgb(51, 51, 51); font-family: OpenSansRegular, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);

}
.h4StyleContactClass{

box-sizing: border-box; margin: 0px 0px 1em; color: rgb(51, 51, 51); font-family: OpenSansRegular, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);

}
.pStyleContentClass{
box-sizing: border-box; margin: 0px 0px 1em; color: rgb(51, 51, 51); font-family: OpenSansRegular, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);

}

</Style>

    <div class="panel panel-default customheader ">
        <div class="panel-body" >
            <div class="container" >
                <div class="well" style="background-color:#fff;">
                    <div class="container-fluid" >
                        <div class="row" >
                            <div class="col-sm-2" />
                            <div class="col-sm-8" >
                                <div style="margin: -12px; padding: 20px;  border-style: none; border-color:#015cae; ">
                                    <div style="color: white; text-align: center;">
                                        <img class="sfdcCbImage" src="{!URLFOR($Resource.CommunityResource,'edq-logo-60h.png')}" />
                                    </div>

                                    <div style="text-align: center;">
                                        <span style="color:#333333">Experian Data Quality offers a wide variety of help and support. You can troubleshoot our products, learn about our data, and find technical documentation such as API guides.
                                        </span>
                                    </div>
                                </div>

                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <div class="col-sm-2" />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-1" />
                        <div class="col-sm-5" >
                            <div style="text-align: center;">
                                <span style="font-size:24px">Contact Support</span>
                            </div>
                            <br />Get in touch with our {!TEXT($User.Region__c)} technical support team.<br/>
                            <br/>

                            <!--START EDQ North America Contact Info-->                      
                            <apex:outputPanel rendered="{! if (TEXT($User.Region__c) =='North America' ,TRUE,if($Profile.Name =='System Administrator',TRUE,FALSE))}">                        
                                <a href="../apex/CommunityNewCasePage" >
                                    <input type="submit" class="btn-danger btn-lg" value="New Case"/>
                                </a>
                                <hr class="hrStyleContactTopClass" />
                                <h4 class="h4StyleContactClass">Call us</h4>

                                <p style="">
                                    <a href="tel:(888) 712-3332" style="box-sizing: border-box; color: rgb(1, 92, 174); text-decoration: none; background-color: transparent;">(888) 712-3332</a>
                                </p>

                                <hr style="hrStyleContactTopClass" />

                            </apex:outputPanel>
                            <!--END EDQ North America Contact Info-->  
                            <!--START EDQ UK&I Contact Info-->                          
                            <apex:outputPanel rendered="{! if (TEXT($User.Region__c) =='UK&I' ,TRUE,if($Profile.Name =='System Administrator',TRUE,FALSE))}">                        
                                <a href="../apex/CommunityNewCasePage" >
                                    <input type="submit" class="btn-danger btn-lg" value="New Case"/>
                                </a>
                                <hr class="hrStyleContactTopClass" />
                                <h4 class="h4StyleContactClass">Call us</h4>

                                <p class="pStyleContentClass">
                                    <a href="tel:(888) 712-3332" style="box-sizing: border-box; color: rgb(1, 92, 174); text-decoration: none; background-color: transparent;">0207 498 7788</a>
                                </p>

                                <hr class="hrStyleContactTopClass" />

                            </apex:outputPanel>
                            <!--END EDQ UK&I Contact Info-->                          
                        </div>

                        <div class="col-sm-5" >
                            <p style="text-align: center;">
                                <span style="font-size:24px">Product Support</span>
                            </p>
                            <p class="text-center" >
                                <a href="http://support.qas.com/product.htm?filter_country=7&amp;filter_product=33&amp;filter_version=7_33_0&amp;filter_version_specific=&amp;filter_impl=empty&amp;filter_os=empty&amp;filter_doctype=17&amp;filter_order=Views&amp;page=1" target="_blank">EDQ Data Guides</a>
                                <br />
                                <a href="http://support.qas.com/product.htm?filter_country=7&amp;filter_product=empty&amp;filter_version=7_0_0&amp;filter_version_specific=&amp;filter_impl=empty&amp;filter_os=empty&amp;filter_doctype=8&amp;filter_order=Views&amp;page=1" target="_blank">EDQ Sample Code</a>
                                <br />
                                <a href="https://www.edq.com/support/" target="_blank">EDQ Support Home Page</a>
                                <br />
                                <a href="http://www.edq.com" target="_blank">EDQ.com</a>
                            </p>

                        </div>
                        <div class="col-sm-1" >

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</apex:page>