<!--
/**=====================================================================
 * Experian
 * Name: CommunityOtherBusinessGroups
 * Description: Community Page for Business Group
 * Created Date: April 2016
 * Created By: Richard Joseph
 * 
 * Date Modified      Modified By                  Description of the update
 * 2016-11-16         William Hemmerick            Experian Branding Changes    
 * 2017-06-20         William Hemmerick            Case 02469050: New Brand Images
  =====================================================================*/
-->
<apex:page tabStyle="Explore_Experian__tab" Sidebar="fasle" >

    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <apex:includeScript Value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"/>
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>   
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'/>
    
    <Style>
nav {
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}    
        
  .customheader {
    background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;

}
.brandZeronaryBgr{
    background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    opacity: 0.9;
}

    </Style>

    <div class="panel panel-default customheader ">
        <div class="panel-body" style="font-size: 12px; font-family: 'Open Sans', sans-serif;">
            <div class="container">
                <div class="well">
                    <div class="container-fluid">
                        <div style="bottom-margin: 50px;" class="row">
                            <div class="col-sm-2" />
                            <div class="col-sm-8" style="text-align: center; height:50px;" >
                                <h3>Experian Business Groups</h3>

                            </div>
                            <div class="col-sm-2" />
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:25px;" >
                        <div class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/business-information/business-information-c.html" target="_blank">
                                        <img class="img-responsive" style="margin: 0 auto; " src="{!URLFOR($Resource.CommunityResource,'portal-bis.jpg')}"/>
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/business-information/business-information-c.html" target="_blank">Business Information Services:</a> Predictive insights that improve your organization profit</p>
                                </div>
                            
                        </div> 

                        <div class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/consumer-information/consumer-information.html" target="_blank">
                                        <img class="img-responsive" style=" margin: 0 auto; " src="{!URLFOR($Resource.CommunityResource,'portal-cis.jpg')}" />
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/consumer-information/consumer-information.html" target="_blank">Consumer Information Services:</a> Highest-quality data that power your most informed decisions</p>
                                </div>
                            
                        </div>


                        <div  class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div  class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/corporate/experian-decision-analytics.html" target="_blank">
                                        <img class="img-responsive" style=" margin: 0 auto ;" src="{!URLFOR($Resource.CommunityResource,'portal-da.jpg')}" />
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/corporate/experian-decision-analytics.html" target="_blank">Decision Analytics:</a> Dynamic analytics that boost your decision performance</p>
                                </div>
                            
                        </div>                    
                    </div>

                    <div class="row" style="margin-bottom:25px;" >
                        <div class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/marketing-services/marketing-services.html" target="_blank">
                                        <img class="img-responsive" style="margin: 0 auto; " src="{!URLFOR($Resource.CommunityResource,'portal-ms.jpg')}"/>
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/marketing-services/marketing-services.html" target="_blank">Marketing Services:</a> Maximize the value of every customer relationship</p>
                                </div>
                            
                        </div> 

                        <div class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/business-services/global-consulting-practice.html" target="_blank">
                                        <img class="img-responsive" style=" margin: 0 auto; " src="{!URLFOR($Resource.CommunityResource,'portal-gcp.jpg')}" />
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/business-services/global-consulting-practice.html" target="_blank">Global Consulting Practice:</a> Incisive guidance that creates measurable, sustainable value</p>
                                </div>
                            
                        </div>


                        <div  class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div  class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.experian.com/affinity-partner-solutions/partner-landing.html" target="_blank">
                                        <img class="img-responsive" style=" margin: 0 auto ;" src="{!URLFOR($Resource.CommunityResource,'portal-alp.jpg')}" />
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left ">
                                        <a href="http://www.experian.com/affinity-partner-solutions/partner-landing.html" target="_blank">Affinity Loyalty Products:</a> Unparalleled solutions that drive your customer retention</p>
                                </div>
                        </div>
                    </div>    


                    <div class="row" style="margin-bottom:25px;" >
                        <div class="col-sm-4" >
                            <div class="panel panel-default" style="margin-bottom:5px" >
                                <div class="panel-body" style="margin:0; padding:0;" >
                                    <a href="http://www.edq.com" target="_blank">
                                        <img class="img-responsive" style="margin: 0 auto; " src="{!URLFOR($Resource.CommunityResource,'portal-dq.jpg')}"/>
                                    </a>
                                </div>
                            </div>
                                <div>
                                    <p class="text-left">
                                        <a href="http://www.edq.com" target="_blank">Data Quality:</a> Software, data, consulting and bureau services to help you exceed your data ambitions</p>
                                </div>
                        </div> 
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</apex:page>