<apex:page >

<Apex:form >

<apex:outputPanel rendered="{! if ($Profile.Name =='XExperian AdTruth Community User',TRUE,if($Profile.Name =='System Administrator',TRUE,FALSE))}" >

<c:AdTruthContent ></c:AdTruthContent>


</apex:outputPanel>
<!--<apex:outputPanel >-->
<apex:outputPanel rendered="{! if ($Profile.Name =='XExperian F&I Community User',TRUE,if($Profile.Name =='System Administrator',TRUE,FALSE))}" >

<c:The41stContent ></c:The41stContent>


</apex:outputPanel>

</Apex:form>

</apex:page>