<apex:page standardController="Competitor__c" extensions="CompetitorExtension">
    <apex:form >
    	<apex:pageBlock >   
            <center>
                <apex:commandButton action="{!saveAndReturnToOpp}" value="Save" style="align:center" /> 
                <apex:commandButton action="{!cancel}" immediate="true" value="Cancel"/>
            </center>
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!Competitor__c.Lost_To__c}"/>
                <apex:inputField value="{!Competitor__c.Competitor_Solution_Offered__c}"/>
                
                <apex:inputField value="{!Competitor__c.Opportunity__c}"/>
                <apex:inputField value="{!Competitor__c.Competitor_Products__c}"/>
                
                <apex:inputField required="True" value="{!Competitor__c.Account__c}"/>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                
                <apex:inputField value="{!Competitor__c.Incumbent__c}"/>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                
                <apex:inputField value="{!Competitor__c.Primary_Competitor__c}" onchange="checkPrimaryCompetitor(this);"/>                
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                
                <apex:inputField value="{!Competitor__c.Competitor_Notes__c}"/>
                
            </apex:pageBlockSection>        	
        </apex:pageBlock>
    </apex:form>

<script>
    function checkPrimaryCompetitor(input)
    {
        //alert('What\'s the value : ' + input.checked);
        if(input.checked)
        {
            if(confirm('You are about to change the Primary Competitor on this Opportunity. Do you want to continue?'))
            {
                input.checked = input.checked;
            }
            else
            {
                input.checked = !input.checked;
            }    
        }
    }
</script>
</apex:page>