<!--
/**=====================================================================
 * Experian
 * Name: ContactAssetsConsole
 * Description: Assets for related account for Console Side panel
 * Created Date: Sep 20, 2017
 * Created By: Malcolm Russell
 * 
 * Date Modified        Modified By                 Description of the update
 * 
  =====================================================================*/
-->
<apex:page sidebar="false" showHeader="false"
    standardController="Contact" extensions="contactAssetsConsoleExtension">

   <apex:slds />
    <div class="slds-scope">
    
    <apex:outputtext value="{!contact.accountId}" rendered="false"/>
    <apex:form >
      <apex:dataTable value="{!accountAssets}" var="assets" id="theTable"

        rowClasses="odd,even" styleClass="tableClass">

        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.CRM_Product_Name__c.Label}</apex:facet>

             <apex:outputfield value="{!assets.CRM_Product_Name__c}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Renewal_Date__c.Label}</apex:facet>

            <apex:outputfield value="{!assets.Renewal_Date__c}"/>
              
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Quantity.Label}</apex:facet>

            <apex:outputfield value="{!assets.Quantity}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Application__c.Label}</apex:facet>

            <apex:outputfield value="{!assets.Application__c}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Direct_Renewal__c.Label}</apex:facet>

             <apex:outputfield value="{!assets.Direct_Renewal__c}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Partner__c.Label}</apex:facet>
            
            <apex:outputfield value="{!assets.Partner__r.Name}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Renewal_Sale_Price__c.Label}</apex:facet>

             <apex:outputfield value="{!assets.Renewal_Sale_Price__c}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Renewal_Total_Royalty__c.Label}</apex:facet>

             <apex:outputfield value="{!assets.Renewal_Total_Royalty__c}"/>
        </apex:column>
        <apex:column >
            <apex:facet name="header">{!$ObjectType.Asset.fields.Renewal_EDQ_Margin__c.Label}</apex:facet>

             <apex:outputfield value="{!assets.Renewal_EDQ_Margin__c}"/>
        </apex:column>

      </apex:dataTable>
    </apex:form>
  
  
   </div>   
  <apex:includeScript value="/support/console/40.0/integration.js"/>

</apex:page>