<apex:page standardController="Contact" tabStyle="Contact" extensions="EDQ.ContactDataQualityExt" action="{!PageRenderer.RedirectToStandardPageInCaseOfAnError}">
    <apex:stylesheet value="{!URLFOR($Resource.EDQ__DynamicPageCss)}"/>
    <apex:form styleClass="edq-{!PageRenderer.SObjectName}" id="experianForm">
        <apex:pageMessages id="messages" escape="false"/>
    
        <c:DuplicatesTable Duplicates="{!PageRenderer.Duplicates}" />
        <apex:sectionheader title="{!$ObjectType.Contact.label} Edit" subtitle="{!PageRenderer.TabLabel}"/>
        <div>Contacts not associated with accounts are private and cannot be viewed by other users or included in reports.</div>
        <br />
        
        <apex:dynamicComponent componentValue="{!PageRenderer.PageBody}" />
        
        <apex:outputPanel id="experianDataQuality">
            <c:DataQualityDynamic PageRenderer="{!PageRenderer}" />
        </apex:outputPanel>
        
        <c:DataQualityDynamicScripts PageRenderer="{!PageRenderer}" />
    </apex:form>
</apex:page>