<apex:page showHeader="false" standardStylesheets="true" sidebar="false" docType="html-5.0">
<!-- 
Page -        EmployeeCommunity_ GSO page
Author -      Hay Mun Win
Description - Landing page for GSO Sub Community-->

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
   <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>

        
</head>
<body class="slds-m-top--none">

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">
    <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Home" class="slds-text-heading--small">GSO HOME</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Security" class="slds-text-heading--small">SECURITY POLICIES &amp; GUIDES</a></li>
        </apex:define>
        
        <apex:define name="item3">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Home" class="slds-text-heading--small">CHATTER GROUP</a></li>
        </apex:define>
      
    </apex:composition>
    <!--Template-->
    
    
    <!-- Content Wrapper -->
    <div id="top" class="right-wrapper  slds-small-size--2-of-3 slds-medium-size--3-of-5 slds-large-size--5-of-6 slds-float--right is-shrink">
    
        
        <div class="content-block">
        
           
            
            <c:expcomm_documentList_cmpt folderName="GSO Documents"/>
            
            
                
            <!-- Team Site Ends -->
            
            <!-- Footer -->
            
            <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>
            
        
        </div>
    </div>
</div>


    </div>      <!--Experian Scope-->





</body>
</html>
</apex:page>