<apex:page showHeader="false" standardStylesheets="true" sidebar="false" docType="html-5.0">
<!-- 
Page -        EmployeeCommunity_ GSO page
Author -      Hay Mun Win
Description - Landing page for GSO Sub Community-->

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
   <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>

        
</head>
<body class="slds-m-top--none">

  <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">
    <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Home" class="slds-text-heading--small">GSO HOME</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Security" class="slds-text-heading--small">SECURITY POLICIES &amp; GUIDES</a></li>
        </apex:define>
        
        <apex:define name="item3">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions"><a href="{!$Site.Prefix}/apex/EmployeeCommunity_GSO_Home" class="slds-text-heading--small">CHATTER GROUP</a></li>
        </apex:define>
      
    </apex:composition>
    <!--Template-->
    
    
    <!-- Content Wrapper -->
    <div id="top" class="right-wrapper  slds-small-size--2-of-3 slds-medium-size--3-of-5 slds-large-size--5-of-6 slds-float--right is-shrink">
    
        
        <div class="content-block">
        
            <!--banner-->
            <c:expcommunity_banner_cmpt background="{!URLFOR($Resource.GEARR_Res3, '/images2/ServiceCentral1.jpg')}" background_size="100% 100%" title="GSO" top_subtitle="" bottom_subtitle=""/>
            
            <!--quote-->
            
            <c:expcommunity_quote_cmpt application="GSO"/>
            
            <!-- two columns -->
            <c:expcommunity_twoCol_cmpt img_src="{!URLFOR($Resource.GEARR_Res3, '/images2/Evolve4.png')}" title="How to Report An Incident" text_body="Click the button below to report an
incident. <br/> An incident can be anything from a suspicious email to an actual breach or physical threat. Use this link to bring attention to any security concern you may have." button_label="Learn More" button_src="http://zoomglobal/departments/GlobalSecurityOffice/csit/SitePages/ir-landingpage.aspx"/>
            
            
            <c:expcomm_subchatter_cmpt group="0F9P00000000aba"/>
            
            <!-- Team Site Starts -->
            
            <div class="expcomm_teamSite">
                <div class="expcomm_teamSite_title slds-m-vertical--medium">Team Sites</div>
                <div class="expcomm_team_wrapper slds-clearfix">
                    <div class="expcomm_team_col slds-p-around--medium slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 slds-float--left">
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                                <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                                <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">Application And Security Testing (SecureCore)</div>
                            </a>
                        </div>
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​BUSINESS CONTINUITY AND PHYSICAL SECURITY</div>
                            </a>
                        </div>                      
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​BUSINESS INFORMATION SECURITY SERVICES (BISS)​</div>
                            </a>
                        </div>
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​CYBER INVESTIGATION RESPONSE TEAM (CIRT)</div>
                            </a>
                        </div>
                    </div>
                    <div class="expcomm_team_col slds-p-around--medium slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 slds-float--left">
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​ENGINEERING &amp; INNOVATION</div>
                            </a>
                        </div>
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​​GOVERNANCE &amp; CONTROL</div>
                            </a>
                        </div>                      
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​IDENTITY &amp; ACCESS MANAGEMENT</div>
                            </a>
                        </div>
                        
                        <div class="expcomm_team_row slds-size--1-of-1 slds-m-vertical--medium">
                            <a href="">
                            <div class="expcomm_team_img slds-size--1-of-3 slds-float--left">&nbsp;</div>
                            <div class="expcomm_team_text slds-size--2-of-3 slds-float--left">​SECURITY OPERATIONS CENTER (GSOC)​</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                
            <!-- Team Site Ends -->
            
            <!-- Footer -->
            
            <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>
            
        
        </div>
    </div>
</div>


    </div>      <!--Experian Scope-->





</body>
</html>
</apex:page>