<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">
<!--
/**=====================================================================
 * Name: EmployeeCommunity_EGSO_OrgChart
 * Description: Displays the org chart
 *              
 * Created Date: Aug 11th 2017
 * Created By: Manish Singh
 *
 * Date Modified         Modified By           Description of the update
 * 
 *
 * =====================================================================*/
-->
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/css/main.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
  

<style>

ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
   section.textformatGEARR {
      font-size:1.25em;
  }
  
  #page-wrapper {
    padding-top:0px;
    font-size:12px;
  }
  
  #page-wrapper ul li {
    margin:0;
    padding:0;
  }
  
  input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
        //background-color: rgb(0, 171, 170) !important;
        background-image:none;
        line-height:3em;
        display:block;
        padding: 0 1.25em;
  }
  
   input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
        //background-color: #f99e79;
        background-image:none;
   }
   
   body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6 {
   font-family:"Salesforce Sans", Arial, sans-serif;
   display:block;
   font-weight:normal
   }
   
   .expcommunity__grey {
        background-color:#ffffff;
    }
</style>

</HEAD>
<!-- REQUIRED SLDS WRAPPER -->
<div class="experianSLDS">
    <div class="landing">

        <!-- Header -->
            <div id="" >
            
             
             
  <div >
      <!--Template-->
    <apex:composition template="expcomm_newTemplate">
            <apex:define name="item1">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" class="slds-text-heading--small">EGSO Home</a></li>
            </apex:define>
            
            <apex:define name="item2">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                   <a target="_blank" href="http://zoomglobal/departments/GlobalSecurityOffice/SitePages/SecurityAwareness.aspx" class="slds-text-heading--small">Security Awareness</a></li>
               <!-- RJ Updated with Summer 17 <a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li> -->
            </apex:define>
            
            <apex:define name="item3">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                        <!--<button class="slds-button " aria-haspopup="true">   -->                  
                         <a href="#" class="slds-text-heading--small">EGSO Reference Documents</a>                 
                          <!--</button>-->
                        <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-left" >
                          <ul class="dropdown__list" style="width:160px" role="menu">
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=1" role="menuitem">
                                <p class="slds-truncate">Security Policies and <br></br> Standards</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=2" role="menuitem">
                                <p class="slds-truncate">Security User Guides</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=3" role="menuitem">
                                <p class="slds-truncate">Additional Security<br></br> Guides</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=4" role="menuitem">
                                <p class="slds-truncate">Technical Security<br></br> Baselines</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                     </div>  
                </li>
            </apex:define>
            
            <apex:define name="item4">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                        <!--<button class="slds-button " aria-haspopup="true">   -->                  
                         <a href="#" class="slds-text-heading--small">EGSO Services</a>                 
                          <!--</button>-->
                        <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-right" >
                          <ul class="dropdown__list" style="width:160px" role="menu">
                             <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" role="menuitem">
                                <p class="slds-truncate">GSOC Threat<br/>(In development)</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services" role="menuitem">
                                <p class="slds-truncate">Security Standards<br></br>Compliance (PCI, ISO,<br></br>  SOC2, HIPAA) <br/>(In development)</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=6" role="menuitem">
                                <p class="slds-truncate">Security Assessments</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=7" role="menuitem">
                                <p class="slds-truncate">Project Security <br></br> Assessments</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=8" role="menuitem">
                                <p class="slds-truncate">Third Party Security</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=9" role="menuitem">
                                <p class="slds-truncate">Issue and Exception<br></br>Management</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=10" role="menuitem">
                                <p class="slds-truncate">Proposal to Use <br></br> Production Data</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=11" role="menuitem">
                                <p class="slds-truncate">Pre-Acquisition Security<br></br>  Due Diligence</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=12" role="menuitem">
                                <p class="slds-truncate">Post-Acquisition <br></br> Security Assessment</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                     </div>  
                </li>
            </apex:define>
            
            <apex:define name="item5">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                   <!--<a target="_blank" href="https://experian.my.salesforce.com/_ui/core/chatter/topics/TopicPage?name=Securityfirst&ref=hash_mention" class="slds-text-heading--small">Chatter</a></li>-->
                   <a target="_blank" href="https://experian.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F90H0000000rCb" class="slds-text-heading--small">Chatter</a></li>
               <!-- RJ Updated with Summer 17 <a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li> -->
            </apex:define>
            
            <apex:define name="item6">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" class="slds-text-heading--small">FAQs (In development)</a></li>
            </apex:define>
        </apex:composition>
    <!--Template-->

</div>
            </div>
             

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Main-->
                    <div id="main" class="wrapper style3">
                        <div class="container">
                            <!--Security Assessments - SA section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '6',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Security Assessments - SA</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Process Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    Given the sensitivity of data that we hold in our systems, we need to ensure that it is appropriately secured. 
                                    To do this the organization implements a range of technical and process controls as mandated by the security policy.
                                    <br/><br/>
                                    To check that these required security controls are in place and operating effectively there 
                                    is a Global Security Policy based requirement that the first line of defense monitor their compliance with the security policy.
                                    <br/><br/>
                                    To assist with this requirement the EGSO provide the Security Assessment (SA) process to facilitate compliance monitoring and will provide
                                    reporting to assist management meet these objectives and identify areas needing attention.
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="Security Assessments 1" title=""/>
                                    </div>

                                    <apex:image url="{!URLFOR($Resource.EGSO_Resource_2, '/flags/Services_SecurityAssessment.jpg')}" height="" width="" />
                                    <br/>
                                </span>
                                <br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Scope &amp; Applicability:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process applies to all Experian Business Units owning Information Assets* and/or Security Processes.
                                    <br/><br/>
                                    The assessment frequency will be set to one year, unless major changes to the security controls require a reassessment either as a one-off or via a 
                                    Project Security Assessment. Client request or audit requirements may also require a one-off assessment of an asset or process.
                                    <br/><br/>
                                    The assessment scope covers:
                                    <br/><br/>
                                    <dl>
                                      <li>Applications</li>
                                      <li>APIs (Excel)</li>
                                      <li>Security Processes</li>
                                      <dl>
                                          <li>Access Control</li>
                                          <li>Customer Support</li>
                                          <li>Data Lifecycle</li>
                                          <li>Human Resources</li>
                                          <li>Monitoring and logging</li>
                                          <li>Project Management</li>
                                          <li>Vulnerability Management</li>
                                      </dl>
                                      <li>Technologies</li>
                                        <dl>
                                          <li>Collaboration Systems</li>
                                          <li>Database</li>
                                          <li>Distributed Systems – Servers</li>
                                          <li>Distributed Systems – Web Servers</li>
                                          <li>Employee IT Services (Browsers)</li>
                                          <li>Employee IT Services (formerly Workstations)</li>
                                          <li>Firewall</li>
                                          <li>Mail Systems</li>
                                          <li>Mainframe</li>
                                          <li>Malware</li>
                                          <li>Mobility</li>
                                          <li>Network Ops</li>
                                          <li>Storage</li>
                                          <li>Voice</li>
                                          <li>Generic New Technology (Excel)</li>
                                        </dl>
                                    </dl>
                                    <br/><br/>
                                    The scope of applications will be primarily driven by the inventory maintained by SecureCore, but the SA scope
                                    also covers commercial off-the-shelf applications which will need to be identified by the owning business unit.
                                    <br/><br/>
                                    The scope of security processes and technologies covered will be defined in consultation with managers in the business units.
                                    <br/><br/>
                                    * Information assets are defined as hardware, software and applications
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                Once the scope of assessments has been defined and agreed between the EGSO and each business unit, an annual schedule will be defined in RSA Archer – the 
                                tooling used to run this process.
                                <br/><br/>
                                Once set, any updates for changes to this schedule will need to be requested using the email addresses below:
                                <br/><br/>
                                UK&amp;I and EMEA: <a href="mailto: InformationSecurity.Office@uk.experian.com" target="_top"> InformationSecurity.Office@uk.experian.com </a>
                                <br/><br/>
                                LATAM: <a href="mailto: ISCBrazil@br.experian.com" target="_top"> ISCBrazil@br.experian.com</a>
                                <br/><br/>
                                APAC: <a href="mailto: infosec@ap.experian.com" target="_top"> infosec@ap.experian.com</a>
                                <br/><br/>
                                North America: <a href="mailto: GlobalSecurityOffice@experian.com" target="_top"> GlobalSecurityOffice@experian.com</a>
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Reporting:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                The results of assessments can be found here:
                                <br/><br/>
                                [placeholder - TBD]
                                <br/><br/>
                                If you need access to this portal to view the overall results of assessments for your area of responsibility, this can be requested here:
                                <br/><br/>
                                [placeholder - TBD]
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Training:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                A recorded training course on the process and completing Security Assessments in GRC Archer can be found here;
                                <br/><br/>
                                <a href="https://EXPERIAN.sumtotal.host/core/pillarRedirect?relyingParty=LM&url=app%2Fmanagement%2FLMS_ActDetails.aspx%3FActivityId%3D63468%26UserMode%3D0" target="_blank">
                                    https://EXPERIAN.sumtotal.host/core/pillarRedirect?relyingParty=LM&amp;url=app%2Fmanagement%2FLMS_ActDetails.aspx%3FActivityId%3D63468%26UserMode%3D0
                                </a>
                                <br/><br/>
                                (this video works best using the Chrome browser)
                                </span>
                                <div style="align:left; background-color: white; border: 1px #ffffff;">
                                    <c:expcomm_documentList_cmpt_2 folderName="Security Assessments 2" title="Supporting Documents"/>
                                </div>
                            </apex:outputPanel>
                            
                            <!--Project Security Assessments - PSA section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '7',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Project Security Assessments - PSA</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Process Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    When we deploy a new system, or make a major change to an existing one there is always the potential of introducing security risk. 
                                    Given the sensitivity of data we hold in our systems, we need to ensure that security is considered throughout the project development 
                                    life cycle in order to address the required controls in a timely and cost efficient manner. It is for this reason that there is a Global 
                                    Security Policy (GSP) requirement for all project teams to undertake a formal risk assessment as part of any system design and development (GSP - Standard 7.1.1).  
                                    To enable the business to meet security requirements, we have created a Project Security Risk Assessment (PSA) process.
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="Project Security Assessments 1" title=""/>
                                    </div>

                                    <apex:image url="{!URLFOR($Resource.EGSO_Resource_2, '/flags/Services_ProjectSecurityAssessment.jpg')}" height="" width="" />
                                    <br/>
                                </span>
                                <br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Scope &amp; Applicability:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process applies to all Experian Business Units implementing:
                                    <br/><br/>
                                    <dl>
                                      <li>New Information Assets and Major changes to the following Information Assets:</li>
                                      <dl>
                                          <li>Software assets: Applications, application software, system software, middleware and critical infrastructure management software, development tools, and utilities.</li>
                                          <li>Physical assets: Computer equipment (i.e. processors, monitors, laptops, modems, pagers, cellular phones), communications equipment (i.e. routers, PBXs, switches), magnetic media (i.e. tapes, disks, and other storage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;devices).</li>
                                      </dl>
                                      <li>Major changes to Security Processes:</li>
                                        <dl>
                                          <li>Access Control</li>
                                          <li>Change Management</li>
                                          <li>Data Lifecycle</li>
                                          <li>Human Resources</li>
                                          <li>Project Management</li>
                                        </dl>
                                    </dl>
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                The Project Manager must raise a request for a PSA through the functionality built into the corporate governance, risk and compliance tool – RSA Archer.
                                <br/><br/>
                                <a href="https://globalriskcenter.experian.local">https://globalriskcenter.experian.local</a>
                                <br/><br/>
                                Please refer to the Archer Quick Start Guide and Project Security Assessment Guide for PM's to start a PSA for your project.
                                <br/><br/>
                                </span>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Service Level Agreements (SLA's):
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                The EGSO will commit to respond to these project requests within the following timescales;
                                <br/><br/>
                                <dl>
                                    <li>Once a PSA has been requested and submitted for review, an Information Security Consultant will be assigned and will review it within working 5 days.</li>
                                    <li>When any required assessments have been completed and submitted for review, the Information Security Consultant will review it within working 5 days.</li>
                                    <li>When you request security approval to 'go-live' the Security Consultant will provide a decision within 2 days.</li>
                                </dl>
                                <br/>
                                Please note if the information provided is not sufficient for the Information Security Consultant to effectively perform these review tasks then there may be delays. 
                                This could involve changing the process step back to request more information and then these SLAs will start again.
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Training:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                A recorded training course on the process and using Archer can be found here: (video works best using the Chrome browser)
                                <br/><br/>
                                <a href="https://EXPERIAN.sumtotal.host/core/pillarRedirect?relyingParty=LM&url=app/management/LMS_ActDetails.aspx%3FActivityId%3D61512%26UserMode%3D0" target="_blank">
                                    https://EXPERIAN.sumtotal.host/core/pillarRedirect?relyingParty=LM&amp;url=app/management/LMS_ActDetails.aspx%3FActivityId%3D61512%26UserMode%3D0 
                                </a>
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Project Drop in sessions:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                We provide a weekly drop in sessions to answer questions about the PSA process and any specific assessments.
                                <br/><br/>
                                <b>UK/EMEA/NA</b>: Monday 16.00 BST &amp; Wednesday 14.00 BST (Laurie Ritchie) | <b>APAC</b>:  14.00 MST (Raymond Yip / Lay Teng Tee) | <b>Latam</b>: TBC
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Project Cancellations:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                Please be aware that if your project is not updated for 45 days, you will receive a notification advising you that it will be cancelled after 14 days of further inactivity.
                                </span>
                                <div style="align:left; background-color: white; border: 1px #ffffff;">
                                    <c:expcomm_documentList_cmpt_2 folderName="Project Security Assessments 2" title="Supporting Documents"/>
                                </div>
                            </apex:outputPanel>
                            
                            <!--Third Party Security section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '8',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Third Party Security</h1>
                                </header>
                                <span style="font-size:14px;"><br/><br/>
                                    The Global Security Office (GSO) Third Party Security Program provides oversight and support for the management of third party security risks with a focus on those with access to Experian data and systems.
                                    As a major provider of information solutions, Experian takes the security of its information seriously. We have an obligation to protect this information – both for our clients who are the source of much of this
                                    data and for consumers who are the subject of the data. As a result, we operate very rigorous security and control policies. 
                                    This rigor in enforcing security also extends beyond our company’s boundaries to third partoes we choose that will have access to our information either physically or electronically.

                                    <br/><br/><br/>
                                    
                                    <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0;}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                    .tg .tg-s6z2{text-align:center}
                                    .tg .tg-yw4l{vertical-align:top}
                                    </style>
                                    <table class="tg">
                                      <tr>
                                        <th class="tg-s6z2" colspan="6">Third Party Security Team</th>
                                      </tr>
                                      <tr>
                                        <td class="tg-yw4l">​Global Head of TPS</td>
                                        <td class="tg-yw4l">NA Program Lead</td>
                                        <td class="tg-yw4l">​UKI Program Lead</td>
                                        <td class="tg-yw4l">​EMEA Program Lead</td>
                                        <td class="tg-yw4l">LATAM Program Lead​</td>
                                        <td class="tg-yw4l">​APAC Program Lead</td>
                                      </tr>
                                      <tr>
                                        <td class="tg-yw4l">​Ian Sharp</td>
                                        <td class="tg-yw4l">​Mariska Handoyo</td>
                                        <td class="tg-yw4l">​Petro Tyminskyj</td>
                                        <td class="tg-yw4l">​​Petro Tyminskyj</td>
                                        <td class="tg-yw4l">​Evandro Pavani</td>
                                        <td class="tg-yw4l">​TBD - (Ian Sharp)</td>
                                      </tr>
                                    </table>
                                </span>
                            </apex:outputPanel>
                            
                            <!--EGSO Issue & Exception Management Process section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '9',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">EGSO Issue &amp; Exception Management Process</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Process Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process framework describes the Experian Global Security Office (EGSO) approach to Information Security Issue and Exception management. 
                                    <br/><br/>    
                                    It defines the process for completing the following:
                                    <br/><br/>
                                    <dl>
                                      <li>Issue Triage (Identification &amp; Issue Creation)</li>
                                      <li>Issue Remediation Planning</li>
                                      <li>Issue Approval (Policy Deviation Approval)</li>
                                      <li>Issue Management</li>
                                      <li>Issue Date Revision Requests (Hard Target Date)</li>
                                      <li>Issue Closure</li>
                                      <li>Exception Creation</li>
                                      <li>Exception Approval</li>
                                      <li>Exception Management</li>
                                    </dl>
                                    <br/>
                                    <apex:image url="{!URLFOR($Resource.EGSO_Resource_2, '/flags/Services_IEMProcess.png')}" height="" width="" /> 
                                    <br/>
                                    Formalisation of this process aims to ensure that there is sufficient oversight for issue management and a consistent information security global methodology and approach. 
                                    <br/><br/>
                                    This will deliver consistent, measured outputs to help improve the security posture of Experian activities and systems.
                                    <br/><br/>
                                    The above items are separately documented sub processes which revolve around raising a suspected risk or issue, and managing its lifecycle through to closure.    
                                    <br/><br/>
                                    This process builds on the Global Risk Management - Issue Management process and adds additional controls which ensure that information security issues are managed, remediated and reviewed effectively.
                                    <br/><br/>
                                </span>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    The following regional email contacts can be used as engagement points when raising an Information Security Issue:
                                    <br/><br/>
                                    UK&amp;I and EMEA: <a href="mailto: InformationSecurity.Office@uk.experian.com" target="_top"> InformationSecurity.Office@uk.experian.com </a>
                                    <br/><br/>
                                    LATAM: <a href="mailto: gsi@br.experian.com" target="_top"> gsi@br.experian.com</a>
                                    <br/><br/>
                                    APAC: <a href="mailto: infosec@ap.experian.com" target="_top"> infosec@ap.experian.com</a>
                                    <br/><br/>
                                    North America: <a href="mailto: GlobalSecurityOffice@experian.com" target="_top"> GlobalSecurityOffice@experian.com</a>
                                    
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="EGSO IEM Process" title="Supporting Documents"/>
                                    </div>
                                </span>
                            </apex:outputPanel>
                            
                            <!--Proposals to use Production Data for Testing section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '10',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Proposals to use Production Data for Testing</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    Given the sensitivity of data that we hold in our systems, extreme care needs to be taken when considering the use of production data for testing purposes or 
                                    use outside of the production environment. 
                                    <br/><br/>    
                                    In order to ensure the appropriate protection of this data, Experian's Global Security Office will require the implementation 
                                    of a range of technical and process security controls. 
                                    <br/><br/>
                                    The following controls required include:
                                    <br/><br/>
                                    <dl>
                                      <li>Documented processes for the transfer, handling, and storage of the data</li>
                                      <li>Defined retention periods for data to exist in non-production environments</li>
                                      <li>Data destruction processes in line with the Global Security Policy</li>
                                      <li>Valid business justifications for using production data</li>
                                      <li>Redaction, sanitization or obfuscation controls</li>
                                      <li>Data Encryption (as applicable)</li>
                                      <li>Strong access controls to restrict access to only those that require it</li>
                                      <li>Audit and monitoring</li>
                                      <li>Environmental Segregation etc.</li>
                                    </dl>
                                    <br/><br/>
                                    To make sure that each use of production data is justified and that the data will be adequately protected, the following process must be followed and the relevant approvals granted prior to its use. 
                                    <br/><br/>
                                </span>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Scope &amp; Applicability:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process applies to all Experian Business Units and Groups owning production data or information assets who need to use those in a non-production environment.  
                                    The control requirements will be determined by the type of data to be used, the regulatory and contractual requirements that must be considered and a risk assessment 
                                    by an Information Security Consultant of the proposed non-production environment that data will be transferred to.
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    <dl>
                                      <li>The requestor must notify the following people of their requirement to use production data in a non-production environment:</li>
                                        <dl>
                                            <li>Data Owner</li>
                                            <li>Risk &amp; Control Officer / Security Coordinator (1LoD)</li>
                                            <li>LOB Manager (1LoD)</li>
                                            <li>Destination System Owner (i.e. the non-production system where the production data will be stored)</li>
                                            <li>Compliance Officer (2LoD)</li>
                                        </dl>
                                      <li>Then the requestor completes the attached request form and submits it to the regional Information Security contact points shown below</li>
                                      <li>An Information Security Consultant will perform a risk assessment of the request and either approve or decline* it</li>
                                      <li>The requestor must then send the form to the Data Owner &amp; Business Unit MD/CEO for their approvals</li>
                                      <li>At the end of the data use, the data destruction element of the form must be signed and the form returned to the EGSO.</li>
                                    </dl>
                                    <br/><br/>
                                    An Information Security Consultant can be engaged using the following regional email addresses:
                                    <br/><br/>
                                    UK&amp;I and EMEA: <a href="mailto: InformationSecurity.Office@uk.experian.com" target="_top"> InformationSecurity.Office@uk.experian.com </a>
                                    <br/><br/>
                                    LATAM: <a href="mailto: ISCBrazil@br.experian.com" target="_top"> ISCBrazil@br.experian.com</a>
                                    <br/><br/>
                                    APAC: <a href="mailto: infosec@ap.experian.com" target="_top"> infosec@ap.experian.com</a>
                                    <br/><br/>
                                    North America: <a href="mailto: GlobalSecurityOffice@experian.com" target="_top"> GlobalSecurityOffice@experian.com</a>
                                    
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="Proposals to use Production Data" title="Supporting Documents"/>
                                    </div>
                                    
                                    * If the request is declined because the controls implemented are not sufficient to protect the production data, particularly redaction, 
                                    sanitisation or obfuscation controls but you wish to go ahead with the extract, then you will need to raise an exception request. 
                                    Details about that process can be found here
                                    <br/><br/>
                                    <a href="http://zoomglobal/departments/GlobalSecurityOffice/SitePages/Issues%20and%20Exception%20Management.aspx" target="_blank">
                                        http://zoomglobal/departments/GlobalSecurityOffice/SitePages/Issues%20and%20Exception%20Management.aspx
                                    </a>
                                    
                                </span>
                            </apex:outputPanel>    
                            
                            <!--Pre-Acquisition Security Due Diligence section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '11',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Pre-Acquisition Security Due Diligence</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process is performed to ensure that once completed Merger and Acquisition activities that Experian undertake do not expose Experian to unacceptable levels of 
                                    information security risk. This is done by reviewing the acquisition target's security posture and identifying mitigation strategies and costs to remove or reduce 
                                    any risks or control gaps that are found. 
                                    <br/><br/>    
                                    The requirement for this process is documented in Global Security Policy Standard - 7.4.2 Joint Ventures and Mergers, which states: 
                                    <br/><br/>
                                    <i>"Prior to any acquisitions, the business unit shall perform due diligence to identify and mitigate the risks involved. 
                                    Prior to due diligence, the business unit shall inform the Global Security Office before completing the transaction."</i>
                                    <br/><br/>
                                    <apex:image url="{!URLFOR($Resource.EGSO_Resource_2, '/flags/Services_PreAcq.png')}" height="" width="" /> 
                                    <br/><br/>
                                </span>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Scope &amp; Applicability:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This is a global process which covers all merger and acquisition activities, including mergers, full and partial acquisitions and investment transactions where the
                                    Corporate Development team deem there is a need for security due diligence.
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process is initiated by the Corporate Development team notifying the Global Chief Information Security Officer of a potential acquisition that requires security due diligence.
                                    
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="PreAcq Security" title="Supporting Documents"/>
                                    </div>
                                </span>
                            </apex:outputPanel> 
                            
                            
                            <!--Post-Acquisition Security Assessment section-->
                            <apex:outputPanel rendered="{!IF(renderDocumentPanel = '12',true,false)}">
                                <header class="major" style="font-size:1.90em;">
                                    <h1 class="header-class">Post-Acquisition Security Assessment</h1>
                                </header>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Summary:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    The Post-Acquisition Security Assessment (PASA) process is mandated in Standard 2.7.4 Post-Acquisition Security Assessments of the Mergers and Acquisitions (M&amp;A) Execution Policy February 2017.
                                    <br/><br/>    
                                    It is performed to provide the acquiring business unit (BU) management with a view of the acquired company's security risk, to track and manage integration 
                                    and remediation tasks to completion and to educate the staff of the acquired company about Experian's security policies and standards.
                                    <br/><br/>
                                    In detail the PASA process:
                                    <br/><br/>
                                    <dl>
                                        <li>Confirms the completion of any pre-deal security conditions that needed to be completed prior to the transaction completing, as documented in any 'side-letter'.</li>
                                        <li>Tracks the completion of any items the acquired company committed to remediating post-acquisition as a condition of the transaction completing, as documented in any 'side-letter'.</li>
                                        <li>Tracks the completion of all other security issues and integration tasks highlighted by the Pre- Acquisition Due Diligence process as documented in the security operations integration plan</li>
                                        <li>Raises exception requests for any security control gaps found during the Pre- Acquisition Due Diligence process where the agreed pre-acquisition risk treatment strategy was acceptance.</li>
                                        <li>Performs a security assessment of the acquired company to highlight control gaps with Experian's Global Security Policies and Standards (GSP)</li>
                                        <li>Identifies and agrees mitigating actions for any additional security control gaps identified during post-acquisition security assessments.</li>
                                        <li>Establishes on-going regular security assessments.</li>
                                    </dl>
                                    <br/>
                                    In addition, during the post-acquisition period, the EGSO will provide the acquired company with security contacts, make Experian's Global Security Polices and Standards available, and establish user security training.
                                    <br/><br/>
                                    <apex:image url="{!URLFOR($Resource.EGSO_Resource_2, '/flags/Services_PostAcq.png')}" height="" width="" /> 
                                    <br/><br/>
                                </span>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Scope &amp; Applicability:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This is a global process which covers all merger and acquisition activity, including mergers, full and partial acquisitions and investment transactions. 
                                    The PASA process needs to be completed within 45 days of the EGSO being notified by the Corporate Development team that an acquisition transaction has completed.
                                    <br/><br/>
                                    The PASA process will make use of the EGSO Project Security Assessment (PSA) process as the primary assessment mechanism. The roles and responsibilities will be different 
                                    from PSA as PASA is a second line of defense (2LoD) activity, and the assessments may require additional evidencing and/or testing to provide Experian management with the 
                                    appropriate level of assurance.
                                    <br/><br/>
                                    The assets to be assessed during the PASA process will be agreed with the acquired company's management and reviewed by the Internal Audit team for completeness.
                                    <br/><br/>
                                    All issues found or requiring tracking from the Pre- Acquisition Due Diligence process will be managed via EGSO Issue &amp; Exception Management Process.
                                </span>
                                <br/><br/>
                                <span style="text-align:left;" class="expDocList_subtitle slds-m-vertical--medium"> 
                                    Engagement Process:
                                </span>
                                <span style="font-size:14px;"><br/><br/>
                                    This process is initiated by the Corporate Development team notifying the Global Chief Information Security Officer of that an acquisition has been completed and that a post-acquisition security assessment is needed.
                                    
                                    <div style="align:left; background-color: white; border: 1px #ffffff;">
                                        <c:expcomm_documentList_cmpt_2 folderName="PostAcq Security" title="Supporting Documents"/>
                                    </div>
                                </span>
                            </apex:outputPanel> 
                        </div>
                    </div>
                    
            <apex:composition template="Community_template_footer"></apex:composition>


         </div>
         
        <apex:includeScript value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/js/jquery.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/js/jquery.dropotron.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/js/skel.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/js/util.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.EGSO_Resource_2, '/assets/js/main.js')}"/ >
  
    </div>
    </div>
</html>
</apex:page>