<apex:page showHeader="false" sidebar="false" controller="ExpComm_SearchArtiFilterPageController">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
    <meta charset="utf-8" />
    <title>Article Detail Search</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


    <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
    <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
    <script>svg4everybody();</script>
    
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
    <apex:styleSheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />


    <script type="text/javascript">

        var KAFS_PLACEHOLDER_STR = 'Enter your seaching keyword here'; 
        var currentPageNumber = 1;
        var hasMore = false;

        window.onload = function() { 
            // Add or remove placeholder values
            if ($('[id$=kafs-articleSearchBox]').val() === '') {
                $('[id$=kafs-articleSearchBox]').val(KAFS_PLACEHOLDER_STR);
            }
            else {
                $('[id$=kafs-articleSearchBox]').removeClass('kafs-placeHolder');
            }
            //$('[id$=kafs-articleSearchBox]').addClass('kafs-search-no-focus');
            $('[id$=kafs-search-input-out-frame-id]').addClass('kafs-search-input-out-frame-no-focus');

            $('[id$=kafs-articleSearchBox]').on("focus",  function(event){
                $tgt = $(event.target);
                if($tgt.val() === KAFS_PLACEHOLDER_STR ){
                    $tgt.val('');
                    $tgt.removeClass('kafs-placeHolder');
                }
                $('[id$=kafs-search-input-out-frame-id]').removeClass('kafs-search-input-out-frame-no-focus');
                $('[id$=kafs-search-input-out-frame-id]').addClass('kafs-search-input-out-frame-focus');
                //$tgt.removeClass('kafs-search-no-focus');
            });
            $('[id$=kafs-articleSearchBox]').on( "blur",  function(event){
                $tgt = $(event.target);
                if($tgt.val() === '' ){
                    $tgt.val(KAFS_PLACEHOLDER_STR);
                    $tgt.addClass('kafs-placeHolder');
                }
                $('[id$=kafs-search-input-out-frame-id]').removeClass('kafs-search-input-out-frame-focus');
                $('[id$=kafs-search-input-out-frame-id]').addClass('kafs-search-input-out-frame-no-focus');
                //$tgt.addClass('kafs-search-no-focus');
            });

            var cat = $('[id$=kafs-selectedCategory]').val();
            $('[id$=kafs-hiddenSearchDataCategory]').val(cat);
            
            $('[id$=kafs-hiddenSearchArticleType]').val($('[id$=kafs-selectedArticleType]').val());
            $('[id$=kafs-hiddenSearchSortingType]').val($('[id$=kafs-selectedSort]').val());
            $('[id$=kafs-hiddenSearchPageSize]').val($('[id$=kafs-selectedPageSize]').val());
        }

        function kafs_handlerKeyPress(keyevent) {
            if (window.event && window.event.keyCode == 13 || keyevent.which == 13) {
                $('[id$=kafs-articleSearchButton]').click();
                return false;
            }
            else {
                return true;
            }
        }

        function kafs_handlerKeyUp() { 
            if ($('[id$=kafs-articleSearchBox]').val() === '') {
                $('[id$=kafs-selectedSort]').attr("disabled", false);
                $('[id$=kafs-selectedSort]').removeClass('kafs-disabled-sorting');
            }
            else {
                $('[id$=kafs-selectedSort]').attr("disabled", true);
                $('[id$=kafs-selectedSort]').addClass('kafs-disabled-sorting');
            }
        }

        function kafs_search() {
            currentPageNumber = 1;
            $('[id$=kafs-hiddenCurrentPageNumber]').val(currentPageNumber);

            var kafs_gaSearchingKeyTrack = $('[id$=kafs-articleSearchBox]').val();
            if (kafs_gaSearchingKeyTrack === 'Enter your seaching keyword here') {
                kafs_gaSearchingKeyTrack = '';
            }
            
            var commu_prefix = "{!$Site.Prefix}";
            if (commu_prefix != undefined && commu_prefix != '') {
                var kafs_page_url = "ExpComm_KnowledgeArticleFilterSearch?searchTerm=" + kafs_gaSearchingKeyTrack;
                ga('send', 'pageview', kafs_page_url);
            }
            
            kafs_refreshArticleSearchResults();
            return false;
        }

        function kafs_setDataCategory(selected) {
            $('[id$=kafs-hiddenSearchDataCategory]').val(selected);
            kafs_search();
        }

        function kafs_setSortingType(selected) {
            $('[id$=kafs-hiddenSearchSortingType]').val(selected);
            kafs_search();
        }

        function kafs_setPageSize(selected) {
            $('[id$=kafs-hiddenSearchPageSize]').val(selected);
            kafs_search();
        }

        function kafs_previousButton() {
            currentPageNumber--;
            $('[id$=kafs-hiddenCurrentPageNumber]').val(currentPageNumber);
            kafs_refreshArticleSearchResults();
        }

        function kafs_nextButton() {
            currentPageNumber++;
            $('[id$=kafs-hiddenCurrentPageNumber]').val(currentPageNumber);
            kafs_refreshArticleSearchResults();
        }

        function kafs_checkButtonsStatus() {
            if (currentPageNumber == 1) {
                $('[id$=kafs-prevPageArticles]').attr("disabled","disabled");
                //$('[id$=kafs-prevPageArticles]').addClass('kafs-disabled-button');
            }
            else {
                //$('[id$=kafs-prevPageArticles]').removeClass('kafs-disabled-button');
            }
            if (hasMore == false) {
                $('[id$=kafs-nextPageArticles]').attr("disabled","disabled");
                //$('[id$=kafs-nextPageArticles]').addClass('kafs-disabled-button');
            }
            else {
                //$('[id$=kafs-nextPageArticles]').removeClass('kafs-disabled-button');
            }
        }

        function kafs_openArticleDetailPage(idStr, urlNameStr) {
            var commu_prefix = "{!$Site.Prefix}";
            if (commu_prefix == undefined || commu_prefix == '') {
                commu_prefix = '/apex';
            }
            window.open(location.protocol + "//" + location.host + commu_prefix + "/ExpComm_KnowledgeArticleDetailPage?id=" + idStr + '&urlName=' + urlNameStr, "_self");
        }

        function kafs_openCaseCreatePage() {
            var commu_prefix = "{!$Site.Prefix}";
            if (commu_prefix == undefined || commu_prefix == '') {
                commu_prefix = '/apex';
            }
            window.open(location.protocol + "//" + location.host + commu_prefix + "/apex/expcomm_caseCreate?reason=knowledge", "_self");
        }
    </script>
    
    </head>
    <body class="slds-m-top--none">

        <!-- REQUIRED SLDS WRAPPER -->
        <div class="experianSLDS">

            <!-- Wrapper -->
            <div class="wrapper slds-size--1-of-1">
                <!--Template-->
                <apex:composition template="expcomm_newTemplate">
        
                </apex:composition>
                <!--Template-->
    
    
                <apex:outputpanel >
                    <apex:actionstatus id="kafs-SearchingWaiting">
                        <apex:facet name="start">
                            <div class="kafs-waiting-Search-Div" id="el_loading"> 
                                <!-- <div role="status" class="slds-spinner slds-spinner--medium">
                                    <span class="slds-assistive-text">Loading</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div> -->
                                <img class="kafs-loading-logo" src="{!$Resource.exp_loading_logo}"/>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
                </apex:outputpanel>

                <div class="kafs-page-container">
                    <apex:form id="FilterSearchControl" styleClass="kafs-filterSearchForm">
                        <apex:actionFunction name="kafs_refreshArticleSearchResults" rerender="kafs-resultList" status="kafs-SearchingWaiting"/>
                        <!-- <apex:outputPanel >
                            <apex:inputText id="kafs-articleSearchBox" value="{!searchKeyword}" styleClass="kafs-placeHolder" onkeypress="return kafs_handlerKeyPress(event);" onkeyup="kafs_handlerKeyUp();" />

                            <button class="kafs-article-search-button" onclick="kafs_search();">Search</button>
                        </apex:outputPanel> -->

                        <div class="kafs-search-area">
                            <div class="kafs-search-input-out-frame" id="kafs-search-input-out-frame-id" >
                                <apex:inputText id="kafs-articleSearchBox" value="{!searchKeyword}" styleClass="kafs-placeHolder" onkeypress="return kafs_handlerKeyPress(event);" onkeyup="kafs_handlerKeyUp();" />
                                <div class="kafs-search-icon">
                                    <span id="kafs-articleSearchButton" class="more slds-icon_container slds-icon-utility-user kafs-search-icon-show-block" title="Search" onclick="kafs_search();">
                                         <svg aria-hidden="true" class="kafs-search-icon-svg slds-icon slds-icon--small purple-block__icon">
                                             <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                         </svg>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="kafs-filterOptions">

                        <style>
                            .kafs-filterItem-new {
                                border: 1px solid #d8dde6;
                                border-radius: 4px;
                                transition: border .1s linear,background-color .1s linear;
                                display: inline-block;
                                padding: 0.5rem 1rem 0.5rem .75rem;
                                line-height: 1.875rem;
                                min-height: calc(1.875rem + (1px * 2));
                            }

                            .kafs-selectOptions-new {

                            }
                        </style>

<!--                             <div class="kafs-filter-inline-block-div">
                                <div class="kafs-filterOptionDescription">Data-Category</div>
                                <select name="category" class="kafs-filterItem-new" onchange="kafs_setDataCategory(this.value);">
                                    <option class="kafs-selectOptions-new" value="Experian_Internal:ALL">ALL</option>
                                    <knowledge:categoryList categoryVar="category" categoryGroup="Experian_Internal" rootCategory="All" level="-1">
                                        <option class="kafs-selectOptions-new" value="Experian_Internal:{!category.name}">{!category.label}</option>
                                    </knowledge:categoryList>
                                </select>
                                <apex:inputHidden value="{!dataCategory}" />
                            </div> -->

                            <div class="categoryTypes kafs-filter-inline-block-div">
                                <div class="kafs-filterOptionDescription">Category</div>
                                <select id="kafs-selectedCategory" name="category" class="kafs-filterItem" size="1" onchange="kafs_setDataCategory(this.value);">
                                    <option class="kafs-selectOptions" value="Experian_Internal:ALL">ALL</option>
                                    <knowledge:categoryList categoryVar="category" categoryGroup="Experian_Internal" rootCategory="All" level="-1">
                                        <option class="kafs-selectOptions" value="Experian_Internal:{!category.name}">{!category.label}</option>
                                    </knowledge:categoryList>
                                </select>
                                <apex:inputHidden id="kafs-hiddenSearchDataCategory" value="{!dataCategory}" />
                            </div>

                            <div class="sortOption kafs-filter-inline-block-div">
                                <div class="kafs-filterOptionDescription">Sorting</div>
                                <select id="kafs-selectedSort" name="sort" class="kafs-filterItem" size="1" onchange="kafs_setSortingType(this.value);">
                                    <option value="title">Title</option>
                                    <option value="mostViewed">Most Viewed</option>
                                    <option value="lastUpdated">Last Updated</option>
                                </select>
                                <apex:inputHidden id="kafs-hiddenSearchSortingType" value="{!sorting}" />
                            </div>
                            
                            <div class="pageSize kafs-filter-inline-block-div">
                                <div class="kafs-filterOptionDescription">Articles per page</div>
                                <select id="kafs-selectedPageSize" name="size" class="kafs-filterItem" size="1" onchange="kafs_setPageSize(this.value);">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                                <apex:inputHidden id="kafs-hiddenSearchPageSize" value="{!pageSize}" />
                            </div>

                        </div>

                        <apex:outputPanel layout="block" id="kafs-resultList" styleClass="kafs-result-control">

                            <script>
                                hasMore = false;
                            </script>
                            <div class="kafs-list-group">
                                <knowledge:articleList articleVar="article"
                                    categories="{!dataCategory}"
                                    articleTypes="{!articleTypes}"
                                    sortBy="{!sorting}"
                                    keyword="{!searchKeyword}"
                                    pageSize="{!pageSize}"
                                    pageNumber="{!currentPageNumber}"
                                    hasMoreVar="moreArticle"
                                    language="{!userLanguage}"
                                >
                                    <!-- <div class="kafs-list-item"><a class="kafs-articleLink" href="{!URLFOR($Action.KnowledgeArticle.View, article.id)}">{!article.title}</a></div> -->
                                    <div class="kafs-list-item"><a class="kafs-articleLink" onclick="kafs_openArticleDetailPage('{!article.Id}', '{!article.urlName}')">{!article.title}</a></div>
                                    <script>
                                        hasMore = {!moreArticle};
                                    </script>
                                </knowledge:articleList>
                            </div>

                            <script>
                                kafs_checkButtonsStatus();
                            </script>

                            <div class="kafs-page-control-section">
                                <button class="kafs-control-button" id="kafs-prevPageArticles" onclick="kafs_previousButton(); return false;">Previous</button>
                                <button class="kafs-control-button" id="kafs-nextPageArticles" onclick="kafs_nextButton(); return false;">Next</button>
                            </div>

                            <div class="kafs-case-question">
                                Can't find what you are looking for?
                            </div>

                            <div class="kafs-create-case-btn">
                                <button class="kafs-case-btn" onclick="kafs_openCaseCreatePage(); return false;">Suggest a new Knowledge article</button>
                            </div>
                        </apex:outputPanel>

                        <apex:inputHidden id="kafs-hiddenCurrentPageNumber" value="{!currentPageNumber}" />

                        <br></br>
                    </apex:form>
                </div>
                <!-- Footer -->
            
                <!--Footer - Template-->
                <apex:composition template="Community_template_footer"></apex:composition>
            </div>
        </div>
    </body>

    <!--<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91356225-2', 'auto');
        ga('send', 'pageview');

        var userId = '{!$User.Id}';
        ga('set', 'userId', userId);
    </script>-->

    </html>


    <script>
    $(document).ready(function() {
        kafs_checkButtonsStatus();
    });
    </script>

    
</apex:page>