<!--
/**=====================================================================
 * Experian
 * Name: LeadMassStatusUpdate
 * Description: Designed to replace system Change Status page since it doesn't allow custom fields
 * Created Date: Jan 5th, 2016
 * Created By: Paul Kissick
 * 
 * Date Modified      Modified By                  Description of the update
 * =====================================================================*/
-->
<apex:page standardController="Lead" recordSetVar="l" title="Change Status" >
  <apex:sectionHeader title="Change Status" />
  <apex:form >
    <apex:pageBlock >
      <apex:pageMessages />
      <apex:pageBlockButtons location="bottom">
        <apex:commandButton action="{!save}" value="Save" />
        <apex:commandButton action="{!cancel}" value="Cancel" />
      </apex:pageBlockButtons>
      <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="New Status" />
          <apex:inputField value="{!Lead.Status}" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="{!$ObjectType.Lead.fields.Disqualify_Reject_Reason__c.label}" />
          <apex:inputField required="true" value="{!Lead.Disqualify_Reject_Reason__c}" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="{!$ObjectType.Lead.fields.Reason__c.label}" />
          <apex:inputField value="{!Lead.Reason__c}" />
        </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>