<!--
//  Created By: Tyaga Pati 
//  Created on : 9/11/2015 
//  Functionality: Vf Page Business Process Line Items in Edit Mode.///
///////////////////////////////////////////////////////////////////////////////////////////////////
-->

<apex:page standardController="Membership__c" Extensions="BusinessProcessItemMemExtensions" showheader="true" sidebar="true">
  <apex:includeScript value="/xdomain/xdomain.js"/>
  <apex:includeScript value="/soap/ajax/26.0/connection.js"/>
  <apex:includeScript value="/support/console/26.0/integration.js"/>
  <apex:form id="frm"> 
    <apex:outputPanel id="fullPage">
      <apex:actionFunction name="DeleteBPLineJS" action="{!doDelete}" rerender="fullPage" >
        <apex:param name="delParam" assignto="{!selectedId}" value="" /> 
      </apex:actionFunction>
      <apex:pageBlock title="">
        <apex:pageMessages />
        <apex:pageBlockButtons location="top">
          <apex:commandButton action="{!saveEdit}" value="Save" />
          <apex:commandButton onclick="resetInlineEdit()" value="Cancel" /> 
        </apex:pageBlockButtons>
        <apex:pageBlockTable value="{!BPItems}" var="bp" columnsWidth="5%,20%,32%,20%,7%,10%,5%">
          <apex:column headervalue="Action">
            <apex:outputPanel layout="inline" rendered="{!bp.UserRecordAccess.HasEditAccess}">
              <a onClick="editViewBPline('{!MemRec.Id}','{!bp.Id}', 'e');" style="cursor: pointer;text-decoration: underline;color: #015ba7;">{!$Label.AccountTeamMembersList_Edit}</a>
              |
              <a onClick="DeleteBPline('{!bp.Id}');" style="cursor: pointer;text-decoration: underline;color: #015ba7;">{!$Label.AccountTeamMembersList_Del}</a>
            </apex:outputPanel>
            <apex:outputPanel layout="inline" rendered="{!!bp.UserRecordAccess.HasEditAccess}" >
              <a onClick="editViewBPline('{!MemRec.Id}','{!bp.Id}', '');" style="cursor: pointer;text-decoration: underline;color: #015ba7;" title="View only, no edit access.">View</a>
            </apex:outputPanel>
          </apex:column>
          <apex:column headervalue="BPI Name"> 
            <apex:outputField value="{!bp.BPI_Name__c}">
              <apex:inlineEditSupport event="ondblClick" disabled="{!!bp.UserRecordAccess.HasEditAccess}" />
            </apex:outputField>
          </apex:column>
          <apex:column headervalue="Description"> 
            <apex:outputField value="{!bp.Description__c}">
              <apex:inlineEditSupport event="ondblClick" disabled="{!!bp.UserRecordAccess.HasEditAccess}" />
            </apex:outputField>
          </apex:column> 
          <apex:column headervalue="Comments"> 
            <apex:outputField value="{!bp.Comments__c}">
              <apex:inlineEditSupport event="ondblClick" disabled="{!!bp.UserRecordAccess.HasEditAccess}" />
            </apex:outputField>
          </apex:column>
          <apex:column > 
            <apex:facet name="header"> 
              <apex:commandLink action="{!ViewData}" value="Status{!IF(sortExpression=='Status__c',IF(sortDirection='ASC','▲','▼'),'')}" id="cmdSort">
                <apex:param value="Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
              </apex:commandLink>
            </apex:facet>
            <apex:outputField value="{!bp.Status__c}">
              <apex:inlineEditSupport event="ondblClick" disabled="{!!bp.UserRecordAccess.HasEditAccess}" />
            </apex:outputField>
          </apex:column>
          <apex:column headervalue="CSDA Sub Code"> 
            <apex:outputField value="{!bp.CSDA_Sub_Code__c}">
              <apex:inlineEditSupport event="ondblClick" disabled="{!!bp.UserRecordAccess.HasEditAccess}" />
            </apex:outputField>
          </apex:column> 
          <apex:column headervalue="Business Process Item">
            <apex:OutputField value="{!bp.Name}"/>       
          </apex:column>
          
        </apex:pageBlockTable>
      </apex:pageBlock>
    </apex:outputPanel> 
  </apex:form>
  
  <script>
  function editViewBPline (MemShipRecId,BPLineId,View) {
    var viewEdit = View == "e" ? "/e" : ""
    var editUrl = "{!$Label.InternalURL}" + BPLineId + viewEdit + "?retURL=" + MemShipRecId;
    
    if (sforce.console.isInConsole()) { 
      sforce.console.getEnclosingTabId(function(enclosingResult) {
        sforce.console.getEnclosingPrimaryTabId(function(primaryResult) {
          sforce.console.openSubtab(primaryResult.id, editUrl, true, '', null);
        });
      });
    }
    else {
      window.parent.location.href = editUrl;
    }
    return false;
  }
  
  function DeleteBPline(BPLineId) {
    if(confirm('{!$Label.AccountTeamMembersList_Record_Delete_Message}')) {
      DeleteBPLineJS(BPLineId);
    }
    return false;
  }
  </script> 
</apex:page>