<!--
/**=====================================================================
 * Appirio, Inc
 * Name: OpportunityRoyalties
 * Description: 
 * Created Date: August 28th, 2014
 * Created By: Nathalie Le Guay (Appirio)
 * 
 * Date Modified        Modified By                 Description of the update
 * Aug 28, 2014         Nathalie Le Guay            Created
 * June 26th, 2015      Noopur                      Added custom label to the page.
 * Jan  19th, 2016      Sadar Yacob                 Case #01150540 :Added support to create new Royalty manually for Record Type = Targeting Royalty
 * Feb  19th, 2016      Sadar Yacob                 Pass CRM Product Name and Product Family from OptyLineItem to Royalty record
  =====================================================================*/
-->
<apex:page sidebar="false" showHeader="false" standardController="OpportunityLineItem" extensions="OpportunityLineItemRoyaltiesController" >
<apex:includeScript value="/xdomain/xdomain.js"/>
  <apex:includeScript value="/soap/ajax/26.0/connection.js"/>
  <apex:includeScript value="/support/console/26.0/integration.js"/>
  <apex:form id="frm16">
    <apex:outputPanel id="sectionTargetRoyalty">
    <apex:actionFunction name="deleteTR" action="{!doDelete}" rerender="sectionTargetRoyalty">
      <apex:param name="delParam" assignTo="{!selectedId}" value=""/>
    </apex:actionFunction>
    
  <apex:pageBlock title="{!$Label.OpportunityLineItemRoyalties_Royalties}">
   <apex:pageBlockButtons location="top">
     <apex:commandButton value="Create Targeting Royalty" action="{!checkAccess}" rendered="{!hasAccess}" onClick="addTargetRoyalty('{!oliId}')"/>
   </apex:pageBlockButtons>
       
             
   
    <apex:pageBlockSection columns="1">
      <apex:pageBlockTable value="{!royalties}" var="royalty" rendered="{!royalties.size > 0}">
        <!--apex:column value="{!royalty.Name}"/-->
        
          <apex:column headerValue="{!$Label.AccountTeamMembersList_Action}">
            <apex:outputPanel layout="inline" rendered="{!hasEditAccess}"><a onClick="editTargetRoyalty('{!royalty.Id}');" style="cursor: pointer;text-decoration: underline;color: #015ba7;"> {!$Label.AccountTeamMembersList_Edit}</a>&nbsp;|&nbsp;</apex:outputPanel>
            <apex:outputPanel layout="inline" rendered="{!hasDelAccess}"><a onClick="deleteTargetRoyalty('{!royalty.Id}');" style="cursor: pointer;text-decoration: underline;color: #015ba7;">{!$Label.AccountTeamMembersList_Del}</a></apex:outputPanel>
          </apex:column>
        
         <apex:column headerValue="Royalty Name">
             <!--apex:outputLink value="{!URLFOR($Action.Royalty__c.View, royalty.Id, [retURL=URLFOR($Action.OpportunityLineItem.View, oliId)])}"-->
                <apex:outputLink value="{!URLFOR($Action.Royalty__c.View, royalty.Id)}"
                    target="_top" disabled="{!NOT hasEditAccess}"> {!royalty.Name}
                </apex:outputLink>
            </apex:column>
        <apex:column value="{!royalty.Product_Name__c}"/>
        <apex:column value="{!royalty.Quantity_Type__c}"/>
        <apex:column value="{!royalty.Amount__c}"/>
        <apex:column value="{!royalty.Renewal_Royalty_Amount__c}"/>
        <apex:column value="{!royalty.Provider_Name__c}"/>
        <apex:column value="{!royalty.Line_Item_Reference_Number__c}"/>
        <apex:column value="{!royalty.RecordTypeId}"/>
        
        
      </apex:pageBlockTable>
    </apex:pageBlockSection>
  </apex:pageBlock>
  </apex:outputPanel>
  </apex:form>
  <script>
   
   function addTargetRoyalty(OptyLineID) 
   {
    //var newRoyaltyURL ="https://experian--sptdev16.cs42.my.salesforce.com/a1w/e?CF00Ni000000FUF1K=Orders+-+orders&CF00Ni000000FUF1K_lkid=00656000002JXOa&retURL=%2F00656000002JXOa";
    //var newRoyaltyURL= "/a1w/e?CF00Ni000000FUF1K={!oli.Opportunity.Name}&CF00Ni000000FUF1K_lkid={!oli.OpportunityId}&00Ni000000FUF1I={!oli.id}&Name=Target Royalty:&retURL=%2F{!oli.id}" ;
    
     
    //backup 02/19/16: var newRoyaltyURL= "/{!$Setup.Custom_Object_Prefixes__c.Royalty__c}/e?{!$Setup.Custom_Fields_Ids__c.Royalty_OpportunityName__c}={!oli.Opportunity.Name}&{!$Setup.Custom_Fields_Ids__c.Royalty_OpportunityId__c}={!oli.OpportunityId}&{!$Setup.Custom_Fields_Ids__c.Royalty_LineItemRefNumber__c}={!oli.id}&Name=Target Royalty:{!Today()}&RecordType={!$Setup.Record_Type_Ids__c.Royalty_TargetRoyalty__c}&ent=Royalty__c&retURL=%2F{!oli.id}" ;
    
    var newRoyaltyURL= "/{!$Setup.Custom_Object_Prefixes__c.Royalty__c}/e?{!$Setup.Custom_Fields_Ids__c.Royalty_OpportunityName__c}={!oli.Opportunity.Name}&{!$Setup.Custom_Fields_Ids__c.Royalty_OpportunityId__c}={!oli.OpportunityId}&{!$Setup.Custom_Fields_Ids__c.Royalty_LineItemRefNumber__c}={!oli.id}&Name=Target Royalty:{!Today()}&RecordType={!$Setup.Record_Type_Ids__c.Royalty_TargetRoyalty__c}&00Ni000000FUF1N={! IF(oli.CRM_Product_Name__c ==null,oli.PriceBookEntry.Product2.Name,oli.CRM_Product_Name__c )}&00Ni000000FUF1M={!oli.Product_Family__c}&CurrencyIsoCode={!oli.Opportunity.CurrencyIsoCode}&ent=Royalty__c&retURL=%2F{!oli.id}" ;
     
     
     // alert("test Alert:" + newRoyaltyURL);
    
      window.parent.location.href = newRoyaltyURL;
      //window.location.href = newRoyaltyURL;
      return false;
   }
   
   function editTargetRoyalty(royaltyid) 
   {
     var editRoyaltyURL = "/"+royaltyid +"/e?retURL=%2F{!oli.id}%2Fd%3F";
     //alert(editRoyaltyURL);
     window.parent.location.href = editRoyaltyURL;
     return false;
    }
   
   
    function deleteTargetRoyalty(royaltyid) 
    {
      if( confirm('{!$Label.AccountTeamMembersList_Record_Delete_Message}') ) 
      {
       //alert('Royaltid:'+royaltyid);
       deleteTR(royaltyid);
       return true;
      }
      return false;
    }
   
  </script>
</apex:page>