<!--
/*=============================================================================
 * Experian
 * Name: RegionalScorecardExport
 * Description: Designed to export/download a CSV of the data for the Regional Scorecard
 * Created Date: 22 May 2016
 * Created By: Paul Kissick
 *
 * Date Modified      Modified By           Description of the update
 * 
 
 =============================================================================*/
 --><apex:page showHeader="false" sidebar="false" controller="RegionalScorecardExportController"
               contentType="application/vnd-excel#export{!CurrentDateTime}.csv"
               action="{!loadData}" readOnly="true">Type,Name<apex:repeat value="{!metricLabels}" var="row">,"{!row}"</apex:repeat>
<apex:repeat value="{!metricValues}" var="row">
{!row}<apex:repeat value="{!metricLabels}" var="col">,"{!outputData[row][col]}"</apex:repeat></apex:repeat>
</apex:page>