<!-- 
/**=====================================================================
 * Experian
 * Name: WebserviceEndpointAddPass
 * Description: Page to handle the setting of webservice passwords.
 * Created Date: Oct 29th, 2015
 * Created By: Paul Kissick 
 * 
 * Date Modified      Modified By                Description of the update
 =====================================================================*/
  -->
<apex:page standardController="Webservice_Endpoint__c" extensions="WebserviceEndpointAddPassCtrlr" title="Set Password" action="{!checkKey}" >
  <apex:sectionHeader title="{!Webservice_Endpoint__c.Name}" subtitle="Set Password" />
  <apex:form >
    <apex:pageMessages />
    <apex:pageBlock rendered="{!okayToShow}">
      <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save" />
        <apex:commandButton action="{!cancel}" value="Cancel" />
      </apex:pageBlockButtons>
      <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="Set Password" />
          <apex:inputSecret value="{!wsPassword}" />
        </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>   
</apex:page>