.THIS .esign-document-select-modal {
	width: 100% !important;
    max-width: 80% !important;
}

.THIS .esign-document-title {
    padding-left: 5px !important;
}

.THIS .esign-doc-search-icon {
    float: right !important;
    margin-top: -27px !important;
}