.THIS .esign-role-section {
    padding-left: 3% !important;
}

.THIS .esign-invert-icon {
    -webkit-filter:invert(30%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    filter:invert(65%);
    height: 20px;
}

.THIS .esign-invert-full-icon {
    -webkit-filter:invert(60%);
    filter:invert(60%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.THIS .esign-small-icon {
    height: 20px !important;
    padding-bottom: 5px !important;
}

.THIS .esign-calendar-icon {
    height: 15px !important;
}

.THIS .esign-month-panel {
    padding-bottom: 8px;
}

.THIS .esign-year-panel {
    padding-top: 5px;
    padding-left: 15px;
}

.THIS .esign-lds-invert-icon {
    -webkit-filter:invert(60%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    filter:invert(60%);
    height: 40px;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.THIS .esign-icon-markup {
    background-color: transparent !important;
}

.THIS .esign-large-p-bottom {
    padding-bottom: 250px !important;
}

.THIS .esign-inverse-m-top {
    margin-top: -35px;
}

.THIS .esign-modal-small {
    width: 20%;
    padding-left: 40%;
}

.THIS .esign--size--2-of-1 {
    width: 110% !important;
}

.THIS .esign-input-icon {
	position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.THIS .esign-force-left {
	margin-right: -9% !important;
}

.THIS .esign-grabber-elem {
    width: 5px;
}

.THIS .esign-picklist-label-small {
    min-width: 140px !important;
}

.THIS .esign-picklist-label-very-small {
    min-width: 100px !important;
}

.THIS .esign-picklist-label-small {
    width: 110px !important;
}

.THIS .esign-input-readonly {
    /*opacity: 0.5;*/
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.THIS .esign-input-readonly-lighter {
    background-color: rgba(0, 0, 0, 0.01) !important;
}

.THIS .esign-role-unselected-role-icon {
    padding-left: 35px;
}

.THIS .esign-role-selected-role-signer-icon {
    margin-right: 100px;
}

.THIS .esign-role-selected-role-icon {
    margin-right: 85px;
}

.THIS .esign-role-selected-role-other-icon {
    margin-right: 25px;
}

.THIS .esign-role-type-display-icon {
	position: relative !important;
    width: 40px !important;
    height: 40px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
}

.THIS .esign-role-type-icon {
    padding-bottom: 5px;
}

.THIS .esign-recipient-input {
    width: 38%;
}

.THIS .esign-lookup-icon {
    margin-left: -10px;
}

.THIS .esign-center-label {
    padding-left: 50%;
    margin-top: 5%;
}

.THIS .esign-menu-align-left {
    margin-right: 95px;
}

.THIS .esign-recipient-value {
    padding-left: 10px !important;
    margin-right: -88px !important;
}

.THIS .esign-lookup-value {
    width: 70% !important;
}

.THIS .esign-date-year-select-down {
    margin-right: -20px;
}

.THIS .esign-date-year-select-down {
	border: 0px solid #d8dde6 !important;
}

.THIS .esign-radio-inline {
    display: inline !important;
}

.THIS .esign-radio-label {
    padding-left: 5px;
}

.THIS .esign-radio-align-right {
    float: right;
}

.THIS .esign-last-form-element {
    width: 100% !important;
}

.THIS .esign-recipient-delete-button {
    /* padding-top: 7px !important; */
}

.THIS .esign-picklist-small-value {
	padding-right: 15px !important;
}

.THIS .esign-picklist-small-expand {
	margin-right: -20px !important;
}

.THIS .esign-disabled-section {
    background-color: #e0e5ee !important;
    border-color: #a8b7c7 !important;
    cursor: not-allowed !important;
    -webkit-user-select: none !important;
}

.THIS .esign-current-signer-icon {
    fill: #0079bc !important;
}

.THIS .esign-complete-signer-icon {
    fill: #7dc37d !important;
}

.THIS .esign-recipient-address-item {
    padding-left: 25px !important;
}

.THIS .esign-replace-signer-icon {
    fill: #5469A2 !important;
}

.THIS .esign-button-group-down-icon {
    fill: grey !important;
    height: 16px !important;
    padding-right: 8px !important;
}

.THIS .esign-button-group-menu {
    width: 100px !important;
    margin-top: 37px !important;
    margin-left: 120px !important;
}

.THIS .esign-button-group-menu-safari {
    width: 100px !important;
    margin-top: 37px !important;
    margin-left: -100px !important;
}

.THIS .esign-button-group-menu-item {
	color: #0070d2 !important;
}

.THIS .esign-signed-image-panel {
    height: 500px !important;
    overflow-y: scroll !important;
    white-space: nowrap !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

.THIS .esign-signed-image {
	border: 1px solid rgb(216, 221, 230);
}

.THIS .esign-top-buttons {
    /*margin-right: 10% !important;*/
}

.THIS .sticky-panel {
	position: fixed !important;
   	top: 0 !important;
    width: 80% !important;
    max-width: 100% !important;
    z-index: 1000 !important;
}

.THIS .esign-recipient-type-input {
    padding-right: 10px !important;
}

.THIS .esign-recipient-email-type {
    padding-right: 10px !important;
    margin-top: 6px !important;
    padding-left: 7px !important;
    position: absolute !important;
}
.THIS .esign-recipient-email-input {
	padding-left: 65px !important;
}

.THIS .esign-menu-narrow {
    max-width: 237px !important;
}

.THIS .esign-menu-dialog {
    min-width: 286px !important;
}
.THIS .esign-date-picker-right {
    margin-left: 32% !important;
}

.THIS .esign-event-icon {
    padding-left: 4px !important;
    padding-top: 4px !important;
}

.THIS .esign-signed-document-link {
    padding-left: 10px !important;
}

.THIS .esign-hybrid-recipient-row {
    margin: 0px !important;
}

.THIS .esign-hybrid-recipient-between {
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
}

.THIS .esign-hybrid-recipient-last {
    border-top-width: 0px !important;
}

.THIS .esign-lookup-moz {
    /*width: -moz-max-content !important; */
    margin-right: -40px !important;
}

.THIS .esign-hybrid-recipient-first {
    border-bottom-width: 0px !important;
    margin-top: 8px !important;
}

.THIS .esign-tooltip {
    position: absolute !important;
}

.THIS .esign-tooltip-move-left {
    margin-left: -50px !important;
}

.THIS .esign-field-error {
    position: absolute !important;
    background-color: #b30000 !important;
    color: white !important;
}

.THIS .esign-error-panel {
    border-color: #b30000 !important;
}

.THIS .esign-error-message {
    color: #b30000 !important;
}

.THIS .esign-picklist-button {
    height: 37px !important;
}

.THIS .esign-document-row {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.THIS .esign-recipient-security-input {
    max-width: 150px;
}

.THIS .esign-tiny-picklist-button {
	width: 35% !important;    
}

.THIS .esign-small-picklist-button {
	width: 140px !important;    
}

.THIS .esign-tiny-picklist-icon {
    margin-right: -20px !important;
}

.THIS .esign-narrow-right-input {
    position: absolute !important;
    width: 62% !important;
    margin-left: 10px !important;
}

.THIS .esign-wide-email {
    min-width: 250px !important;
}

.THIS .esign-inline-title {
    margin-left: 30% !important;
}

.THIS .esign-lookup-button-panel {
    max-width: 130px !important;
}

.THIS .esign-opp-lookup-button-panel {
    max-width: 140px !important;
}

.THIS .esign-lookup-form-control {
    min-width: 105% !important;
}

.THIS .esign-top-object-lookup-section {
    min-width: 98% !important;
}

.THIS .esign-object-lookup-section {
    min-width: 90% !important;
}

.THIS .esign-margin-left-custom-lookups {
    margin-left: 40%;
}

.THIS .esign-padding-top-custom-lookups {
    padding-top: 10px;
}

.THIS .esign-right-center-icon {
    margin-top: 0px !important;
}

.THIS .esign-input-wider {
    width: 210px !important;
}

.THIS .esign-left-sigtype {
    position: absolute;
    max-width: 50%;
}

.THIS .esign-search-results-label {
    padding-left: 15px !important;
    padding-bottom: 5px !important;
}

.THIS .esign-search-panel {
    min-width: 300px !important;
    margin-right: -70px !important;
}

.THIS .esign-search-rec-panel {
    min-width: 300px !important;
    margin-right: 30px !important;
}

.THIS .esign-scrollable-list {
    overflow-y: scroll !important;
    height: 300px !important;
}

.THIS .esign-picklist-label-custom {
    width: 100% !important;
}

.THIS .esign-regular-border-color {
	border-color: rgb(216, 221, 230) !important;
}

.THIS .esign-email-background {
    background-color: #95aec5 !important;
}